


	<div class="loading-wrapper" id="loadd">
		<div class="ob"><img src="loader/loader.png" alt="" class="image-loade"></div>
	</div>



	<!--jquery-->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>




	<!--	loading script-->
	<script src="/js/main-page-js.js"></script>
	<script src="/js/loading-page.js"></script>
	<!--.....-->


	<!---->
	<script src="/js/fullpage.min.js"></script>
	<script src="/js/mainpage-js-animate.js"></script>



	<!--aos-->
	<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
	<script>
		AOS.init();

	</script>

</body>

</html>