
	<%- include("header") -%>
	<div id="fullpage">
		<!--Top-Navbar	-->
		<section class="section s1">
			<div class="topnav" id="topnav">
				<span class="nike"><i>NIKE</i></span>
				<span class="quo"><i>JUST DO IT</i></span>
				<ul id="top-nav">

					<li>
						
						<div class="dropdown">
							<a href="/mens-collection" class="top first topp" id="d" data-toggle="dropdown">Men<i class="fa fa-angle-down"></i></a>

						</div>
					</li>
					<li>
						<div class="dropdown">
							<a href="/women-collection" class="top topp">Women <i class="fa fa-angle-down" aria-hidden="true"></i></a>

						</div>
					</li>
					<li>
						<div class="dropdown">
							<a href="/kids-collection" class="top topp">Kids <i class="fa fa-angle-down" aria-hidden="true"></i>
							</a>

						</div>
					</li>
					<li><input type="text" class="search" title="Search Me"></li>
					<li class="shopping" title="Cart"><i class="fa fa-shopping-bag" aria-hidden="true"></i></li>
					<li class="aboutUs" title="About Us">About Us<i class="fa fa-info" aria-hidden="true"></i>
				</ul>
			</div>
			<!---->

			<div class="container">
				<!--side navbar-->
				<div class="sidenav" id="sidenav">
					<div class="innersidenav">
						<ul>
							<li><a href="#" title="home">
									<p class="text">HOME</p><i class="fas fa-home" id="home"></i>
								</a></li>
							<li><a href="#trend" title="trending">
									<p class="text">TREND</p><i class="fa fa-signal" aria-hidden="true"></i>
								</a></li>

							<li> <a href="/login" title="USER">
									<p class="text">USER</p><i class="fa fa-user" aria-hidden="true"></i>
								</a></li>
							<li> <a href="#" title="help">
									<p class="text"> HELP</p><i class="fa fa-question" aria-hidden="true"></i>
								</a></li>

							<li> <a href="#" title="Settings">
									<p class="text">Settings</p><i class="fas fa-cog"></i>
								</a></li>

						</ul>
					</div>
				</div>
				<!--	-->

				<!--semi body containing content-->
				<div class="semibody" id="mainView">
					<container>
						<p class="react"><span id="re">React</span><span class="element">Element</span></p>
						<p class="quote">Inspiring the World's athlete,Nike delivers innovative products,experience and services.</p>

						<div class="knowmore">
							<button>Know More </button>
						</div>

					</container>
					<container class="colors">
						<div class="black" id="black"></div>
						<div class="red"></div>
						<div class="blue" id="blue"></div>
						<div class="yellow"></div>
						<div class="white"></div>
					</container>


				</div>
				<!--	-->
			</div>
		</section>


	</div>


	<%- include("footer") -%>
