<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="icon" href="https://i.ebayimg.com/images/g/mCMAAOSwQ-JalJ-V/s-l300.jpg">
	<meta charset="UTF-8">
	<title>Men Collection</title>
	<link rel="stylesheet" href="/mens-css/mens-coll-style.css">
	<link rel="stylesheet" href="/mens-css/top-nav.css">
	
	
	
	<!--fontawesome	-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<!---->



	
<!--	google fonts-->
<link href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Tajawal&display=swap" rel="stylesheet">

<!--aos-->
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>

</head>
<body> 
		<div class="nav">
			<div class="topnav" id="topnav">
				<a class="nike" href="/" style="text-decoration: none"><i>NIKE</i></a>
				<span class="quo"><i>MEN'S</i></span>
				<ul id="top-nav">

					<li>
						<div class="dropdown">
							<a href="/mens-collection" class="top first topp" id="d" data-toggle="dropdown">Men<i class="fa fa-angle-down"></i></a>
						</div>
					</li>
					<li>
						<div class="dropdown">
							<a href="/women-collection" class="top topp">Women <i class="fa fa-angle-down" aria-hidden="true"></i></a>

						</div>
					</li>
					<li>
						<div class="dropdown">
							<a href="/kids-collection" class="top topp">Kids <i class="fa fa-angle-down" aria-hidden="true"></i>
							</a>

						</div>
					</li>
					<li><input type="text" class="search" title="Search Me"></li>
					<li class="shopping" title="Cart">CART <i class="fa fa-shopping-bag" aria-hidden="true"></i></li>
<!--					<li class="aboutUs" title="About Us">About Us<i class="fa fa-info" aria-hidden="true"></i>-->
				</ul>
			</div>
			
			<div class="sort-topnav">
				<ul id="top-nav">
					<li>
						<div class="sort">
							<a href="#" class="top first topp" id="d" data-toggle="dropdown">
							Sort by : <select style="font-size: 3rem; 
						  							border: 0;
						  							font-family:inherit;
						  							text-transform: uppercase;
						  							font-weight:300">
							  <option value="volvo">What's New</option>
							  <option value="saab">Recommended</option>
							  <option value="opel">Better Discount</option>
							  <option value="audi">Price: Low to High</option>
							  <option value="audi">Price: High to Low</option>
							</select>
							<i class="fa fa-angle-down"></i></a>
						</div>
					</li>
				</ul>
			</div>
		</div>
		
		<!-- <div class="full"> -->

			<% mensCollection.forEach(function(shoe){ %>

					<!-- <div class="lane1">	 -->
						<div class="pic div2">
							<a>
							<img src=<%=shoe.image %> alt="">
								<div class="p-desc">
									<h6 class="p-name"><%=shoe.name %></h6>
									<p class="p-color-1"></p>
									<p class="p-color-2"></p>
								</div>
								<p class="p-price">$<%=shoe.price %></p>
							</a>
						</div>
					<!-- </div> -->


			<% }) %>
		
		<!-- </div> -->
	
 <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>		
</body>
</html>