<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="icon" href="https://i.ebayimg.com/images/g/mCMAAOSwQ-JalJ-V/s-l300.jpg"> 
	<title>Women Collection</title>
	<link rel="stylesheet" href="/women-css/womens-coll-style.css">
	<link rel="stylesheet" href="/women-css/top-nav-w.css">
	
	
	
	<!--fontawesome	-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<!---->



	
<!--	google fonts-->
<link href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Tajawal&display=swap" rel="stylesheet">

<!--aos-->
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>

</head>
<body> 
	
		<div class="nav">
			<div class="topnav" id="topnav">
				<a class="nike" href="/" style="text-decoration: none"><i>NIKE</i></a>
				<span class="quo"><i>WOMEN'S</i></span>
				<ul id="top-nav">

					<li>
						<div class="dropdown">
							<a href="/mens-collection" class="top first topp" id="d" data-toggle="dropdown">Men<i class="fa fa-angle-down"></i></a>
						</div>
					</li>
					<li>
						<div class="dropdown">
							<a href="/women-collection" class="top topp">Women <i class="fa fa-angle-down" aria-hidden="true"></i></a>

						</div>
					</li>
					<li>
						<div class="dropdown">
							<a href="/kids-collection" class="top topp">Kids <i class="fa fa-angle-down" aria-hidden="true"></i>
							</a>

						</div>
					</li>
					<li><input type="text" class="search" title="Search Me"></li>
					<li class="shopping" title="Cart">CART <i class="fa fa-shopping-bag" aria-hidden="true"></i></li>
<!--					<li class="aboutUs" title="About Us">About Us<i class="fa fa-info" aria-hidden="true"></i>-->
				</ul>
			</div>
			
			<div class="sort-topnav">
				
				<ul id="top-nav">

					<li>
						<div class="sort">
							<a href="#" class="top first topp" id="d" data-toggle="dropdown">
							Sort by : <select style="font-size: 3rem; 
						  							border: 0;
						  							font-family:inherit;
						  							text-transform: uppercase;
						  							font-weight:300">
							  <option value="volvo">What's New</option>
							  <option value="saab">Recommended</option>
							  <option value="opel">Better Discount</option>
							  <option value="audi">Price: Low to High</option>
							  <option value="audi">Price: High to Low</option>
							</select>
							
							
							
							<i class="fa fa-angle-down"></i></a>
						</div>
					</li>
					
				</ul>
				
				
				
				
			</div>
			
			
			
		</div>
		
		<div class="full">
		<div class="lane1">
		
			<div class="text">
			<h3>Sneakers Women</h3>
			<h3 class="h2">NEW COLLECTION</h3>
			<br>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrur, doloru recusandae ducimus at illum dolores, quasi nisi cumque </p>
			
			<button class="outfitviewbtn">OUTFIT VIEW</button><button class="productviewbtn">PRODUCT VIEW</button>
			</div>
		
			
			
			<div class="pic div2">
			<img src="product/image%201.png" alt="">
			<div class="p-desc">
				<h6 class="p-name">Nike Air Max 200</h6>
				<p class="p-color-1"></p>
				<p class="p-color-2"></p>
			</div>
			<p class="p-price">₹ 9,995</p>
			</div>
			
			<div class="pic div4" data-aos="zoom-in-right" data-aos-duration='1000' data-aos-delay="200">
			<img src="product/image%202.png" alt="">
			<div class="p-desc">
				<h6 class="p-name">Nike AirForce 1</h6>
				<p class="p-color-1" style="background-color: yellow"></p>
				<p class="p-color-2" style="background-color: darkgray"></p>
			</div>
			<p class="p-price">₹ 13,995</p>
			</div>
			
			
			<div class="pic div3" data-aos="zoom-in-right" data-aos-duration='2000' data-aos-delay="250">
			<img src="product/image%203.png" alt="">
			<div class="p-desc">
				<h6 class="p-name">Nike Air Max 200</h6>
				<p class="p-color-1" style="background-color: darkolivegreen"></p>
				<p class="p-color-2" style="background-color: orangered"></p>
			</div>
			<p class="p-price">₹ 9,995</p>
			</div>
			
			<div class="pic div2" data-aos="zoom-in-right" data-aos-duration='2000' data-aos-delay="250">
			<img src="product/image%209.png" alt="">
			<div class="p-desc">
				<h6 class="p-name">Nike International</h6>
				<p class="p-color-1" style="background-color: deeppink"></p>
				<p class="p-color-2" style="background-color: cyan"></p>
			</div>
			<p class="p-price">₹ 8,995</p>
			</div>
			
			
			
			
		</div>
		
		
		<div class="lane2">
						
			<div class="pic div1">
			<img src="product/image%204.png" alt="">
			<div class="p-desc">
				<h6 class="p-name">Nike Blazer</h6>
				<p class="p-color-1" style="background-color:darkseagreen"></p>
				<p class="p-color-2" style="background-color: cornflowerblue"></p>
			</div>
			<p class="p-price">₹ 10,195</p>
			</div>
			
			<div class="pic div3" data-aos="zoom-in-left" data-aos-duration='2000' data-aos-delay="150">
			<img src="product/image%205.png" alt="">
			<div class="p-desc">
				<h6 class="p-name">Nike Air Huarache</h6>
				<p class="p-color-1" style="background-color: darkred"></p>
				<p class="p-color-2" style="background-color: lightcoral"></p>
			</div>
			<p class="p-price">₹ 11,995</p>
			</div>
			
			<div class="pic div2" data-aos="zoom-in-left" data-aos-duration='2000' data-aos-delay="150">
			<img src="product/image%206.png" alt="">
			<div class="p-desc">
				<h6 class="p-name">Nike Air Max 200</h6>
				<p class="p-color-1" style="background-color: darkblue"></p>
				<p class="p-color-2" style="background-color: sandybrown"></p>
			</div>
			<p class="p-price">₹ 9,995</p>
			</div>
			
			<div class="pic div1" data-aos="zoom-in-left" data-aos-duration='2000' data-aos-delay="150">
			<img src="product/image%207.png" alt="">
			<div class="p-desc">
				<h6 class="p-name">Nike Air VaporMax</h6>
				<p class="p-color-1" style="background-color: greenyellow"></p>
				<p class="p-color-2" style="background-color: lemonchiffon"></p>
			</div>
			<p class="p-price">₹ 17,995</p>
			</div>
			
			<div class="pic div4" data-aos="zoom-in-left" data-aos-duration='2000' data-aos-delay="150">
			<img src="product/image%208.png" alt="">
			<div class="p-desc">
				<h6 class="p-name">Nike AirMax 95</h6>
				<p class="p-color-1" style="background-color: rgba(193, 187, 26, 1)"></p>
				<p class="p-color-2" style="background-color: rgba(45, 45, 45, 1)"></p>
			</div>
			<p class="p-price">₹ 16,995</p>
			</div>
			
		</div>
		</div>
		
		

	
 <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>		
</body>
</html>