*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*...........................*/


body{
	background-image: url(product/background-w.png);
/*	background-image: url(product/background.png);*/
	background-size: cover;
	background-attachment: fixed;
}

.nav{
	height: 20rem;
	width: auto;
}

.full{
	display: flex;
	flex-direction: row;
}
.lane1{
/*	text-align: center;*/
	height: 100vh;
/*	background-color: red;*/
	width: 26%;
	margin-left: 26%;
	display: flex;
	flex-direction:column;
	
	
}
.lane2{
	padding: 0;
	height: 100vh;
	width: 25%;
/*	background-color: yellow;*/
	margin-right: 25%;
	margin-left: 2%;
}






/*.........................*/
.items{
	
}

h3{
	font-family:inherit;
	text-transform: uppercase;
	font-family: 'Tajawal', sans-serif;
	font-size: 6.4rem;
}
.h2{
	font-family: 'PT Sans', sans-serif;
	font-family: 'Tajawal', sans-serif;
	font-weight:100;
	font-size: 6.0rem;
	line-height: 3rem;
	letter-spacing: 0.15rem;
}

.text{
	width: 70%;
	margin: 10% 10%;
	margin-right: 0;
	padding: 0;
}
.text p{
	margin: 3rem 0;
	font-size: 2.5rem;
}

.outfitviewbtn{
	background-color: white;
	border: 1px solid black;
	font-size: 2.5rem;
	padding: 1.5rem 4rem;
	margin-right:0;
	
}
.productviewbtn{
	background-color: black;
	border: 1px solid black;
	font-size: 2.5rem;
	padding: 1.5rem 4rem;
	color: white;
	margin-left: 0;
}

/*...........pic............*/
.pic{
	margin: 0 0 0 20%;
	margin-bottom: 5rem;
}
.lane1 .pic{
	margin: 0 0 5rem 10%;
	margin: 0 0 0 20%;
/*	margin: 0 0 0 10%;*/
}
.pic img{
/*	height: 320px;*/
	height: 55rem;
/*	width: 240px;*/
	max-width: 40rem;
	min-width: 40rem;
/*	width: 39rem;*/
	margin: 0;
	padding: 0;
}

.p-name{
	padding-left:80px;
	font-size: 2.8rem;
	max-width: 30rem;
	margin: 0;
}
.p-price{
	font-size: 3.5rem;
/*	align-content: flex-start;*/
	text-align: left;
	margin-left:8%;
/*	transform: translateX(100px)*/
/*		translateY(-58px);*/
}

.p-color-1{
	float: right;
	height: 2rem;
	width: 2rem;
	background-color: red;
	margin-left: 14.3rem;
	border-radius: 50%;
}
.p-color-2{
	float: right;
	height: 2rem;
	width: 2rem;
	background-color: blue;
	margin-left: 1rem;
	border-radius: 50%;
}
.p-desc{
	display: flex;
}

/*,,,,,,,,,,,,,,,,,,*/

.item{
	margin-top:10%;
	
}
.item img{
	
}
.lane1 .pic{
	margin-bottom: 7%;
}

/*,,,,,,,,,,,,,,,,,,,,,,,,,,,,*/
.pic{
	
	border: 50px solid black;
	border-radius: 10%;
	align-content: center;
	align-items: center;
	text-align: center;
	padding:0 5px;
}

img{
	padding: 30px 2px;
}
/*div colors*/

.div1{
	border: 30px solid rgba(15, 181, 218, 1);
}
.div2
{
	border: 30px solid rgba(177, 218, 15, 1);
}
.div3{
	border: 30px solid rgba(167, 55, 255, 1);
}
.div4{
	border: 30px solid rgba(255, 224, 165, 1);
}